<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <title>Cloudbox</title>

    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/cloudbox.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/nav2.css" />
    <link rel="stylesheet" type="text/css" href="./vendor/jplayer/skin/pink.flag/css/jplayer.pink.flag.css" />
</head>

<body>
    <div id="container">
        <div id="wrapper">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">

                        <div id="player"></div>
                    </div>
                </div>
            </nav>
            <div class="bodypaddingtop">&nbsp;</div>
            <div id="kanso-topbar"></div>
            <div id="pageMenuWrapper">
                <div id="searchBox"></div>
                <div id="libraryTitle"></div>
                <ul id="page-menu" class="nav nav-pills"></ul>
            </div>
            <div id="content">
                <div id="inner-content">
                    <div id="account"></div>
                    <div id="list"></div>
                </div>
            </div>
        </div>
        <footer>
            <div id="aboutLinkContainer">
                <a href="" id="aboutLink">About</a>
            </div>
            <p>Powered by <a href="https://github.com/johnko/kanso-music">Cloudbox</a>.</p>
        </footer>
    </div>


    <div id="about" style="display:none">
        <a href="" id="aboutCloseLink">Close</a>

        <h1>This is Cloudbox 0.4</h1>

        <p>
            Copyright &copy; 2010 <a href="mailto:martin.kirch@gmail.com">Martin Kirchgessner</a>
            <br/>Copyright &copy; 2015 John Ko
        </p>

        <p>
            Cloudbox is a cloudy jukebox (hence the name).
            <br/>Originally written for CouchApp by Martin Kirchgessner, then ported to Kanso by John Ko, it is released under the
            <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a> and powered by
            <a href="http://couchdb.apache.org/" target="_blank">CouchDB</a>,
            <a href="https://github.com/kanso/kanso" target="_blank">Kanso</a>,
            <a href="https://github.com/couchapp/couchapp" target="_blank">a CouchApp shim that includes the Evently + Mustache framework (couchapp.js)</a>,
            <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>,
            <a href="http://jquery.com/" target="_blank">jQuery</a>,
            <a href="http://jplayer.org/" target="_blank">jPlayer</a>... and a whole lot of other open source projects.
        </p>

        <p>
            <a href="https://github.com/johnko/kanso-music" target="_blank">https://github.com/johnko/kanso-music</a>
        </p>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- json2.js; add JSON if not exist; from https://github.com/douglascrockford/JSON-js -->
    <script src="./static/js/json2.js"></script>

    <!-- jquery -->
    <script src="./static/js/jquery-1.11.2.min.js"></script>

    <!-- bootstrap.min.js; requires jquery -->
    <script src="./static/js/bootstrap.min.js"></script>

    <!-- jplayer.js before modules/evently -->
    <script src="./vendor/jplayer/jplayer/jquery.jplayer.min.js"></script>
    <script src="./vendor/jplayer/add-on/jplayer.playlist.min.js"></script>

    <!-- modules for require -->
    <script src="./_ddoc/modules.js"></script>

    <script>
        // in case the above don't load
        // redirect to _rewrite if we have no trailing slash
        if (window.location.href.match(/\/_rewrite$/) !== null) location.href += '/';

    </script>
    <script src="./vendor/couchapp/loader.js"></script>
    <!-- for cloudbox evently -->
    <script src="./static/js/cloudbox.js"></script>
</body>

</html>
