/*** GLOBAL ***/

body {
    margin: 1em;
}

footer {
    border-top: solid 1px #B3B3B3;
    clear: both;
    padding: 1em 0;
    margin: 3em 0 0 0;
    font-size: 0.6em;
}
/*** Cloudbox ***/

#jp_container_N {}

.jp-interface {
    position: inherit !important;
}

.jp-audio {
    width: 241px !important;
    padding: 10px !important;
    border: none !important;
}

.jp-controls-holder {
    top: 0;
    position: absolute;
    left: 0;
}

.jp-controls {
    height: 36px !important;
}

.jp-progress {
    width: 201px !important;
    height: 12px !important;
}

.jp-volume-controls {
    left: 200px;
    position: relative;
    top: 0;
    width: 100px;
}

.jp-volume-bar {
    width: 101px !important;
}

.jp-audio, .jp-interface, .jp-playlist {
    background-color: #222 !important;
}

.jp-playlist {
    top: 0;
    width: 50%;
    padding: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 152px;
    position: absolute;
    right: 0;
}

.navbar {
    position: fixed;
    top: 1em;
    left: 1em;
    border: none !important;
    border-radius: 0 !important;
}

@media (max-width: 991px) {
    .navbar {
        width: 96%;
    }
}

@media (min-width: 992px) {
    .navbar {
        width: 98%;
    }
}

.bodypaddingtop {
    height: 6em;
}

@media (min-width: 601px) {
    #pageMenuWrapper {
        min-height: 4em;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float: none !important;
    }
}
/*** PLAYER ***/

@media (max-width: 767px) {
    #player audio {
        width: 45%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #player audio {
        width: 52%;
    }
}

@media (min-width: 992px) {
    #player audio {
        width: 54%;
    }
}

#player img {
    float: left;
    height: 4.4em !important;
    width: auto !important;
    position: absolute;
    top: 0;
    left: 340px;
}
/*** SEARCHBOX ***/

#searchBox {
    float: right;
    width: 33%;
}

#searchBox input {
    width: 100%;
}

@media (min-width: 768px) {
    #searchBox input {
        margin-top: 0.8em;
    }
}
/*** account ***/

#account {
    padding: 0.5em 1em;
}

#account form {
    width: 20em;
    margin: auto;
}

#account input[type=text], #account input[type=password] {
    display: block;
}

a#logoutLink {
    float: right;
}
/** song list **/

#list table {
    clear: both;
    width: 96%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #eee;
    margin: 0.5em 2%;
    -moz-box-shadow: 5px 5px 12px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, .15);
}

#list td, #list th {
    padding: .25em 1em;
    vertical-align: middle;
    text-align: left;
}

#list th {
    font-weight: bold;
}

#list tr.l0 {
    background: #eee;
}

#list tr.l1 {
    background: #fff;
}

#list tr.song:hover {
    background: #ddd;
}

#list .artist, #list .title {}

#list .nowPlaying td {
    background: #000;
    color: #fff;
}
/*** ABOUT ***/

#about {
    background: #fff url('smallerBackgroundLogo.png') no-repeat fixed right bottom;
    border: 2px solid #aaa;
    padding: 1em;
    position: fixed;
    margin-left: -15em;
    top: 4em;
    left: 50%;
    width: 30em;
}

#aboutLinkContainer {
    float: right;
    width: 50%;
}

#aboutCloseLink {
    float: right;
}

#about p {
    margin-top: 1em;
}
