/*** Cloudbox ***/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#inner-content {
    margin-left: 15px;
    margin-right: 15px;
}

footer {
    border-top: solid 1px #B3B3B3;
    /*clear: both;*/

    padding: 1em 0;
    margin: 3em 1em 0 1em;
    font-size: 0.6em;
}

.col-sm-0 {
    width: 250px;
    float: left;
    min-height: 100px;
}

.col-sm-13 {
    float: left;
}

.jp-audio {
    width: 221px !important;
    padding: 10px 10px !important;
}

.jp-progress {
    width: 201px !important;
}

#container, #wrapper, #content, #inner-content, .row, .col-sm-0, #player, #jp_container_N, .jp-type-playlist {
    /*for playlist to get height of window*/

    height: 100%;
}

.smallheight .jp-jplayer {
    width: 200px !important;
    height: 200px !important;
}

.smallheight .jp-jplayer img {
    width: 200px !important;
    height: 200px !important;
}

.jp-playlist {
    overflow-y: scroll;
    overflow-x: hidden;
    /*height: 80%;*/

    padding-right: 5px;
    margin-right: -26px;
}
/*** SEARCHBOX ***/

#searchBox {
    float: right;
    width: 33%;
}

#searchBox input {
    width: 100%;
}

@media (min-width: 768px) {
    #searchBox input {
        margin-top: 0.8em;
    }
}
/*** account ***/

#account {
    padding: 0.5em 1em;
}

#account form {
    width: 20em;
    margin: auto;
}

#account input[type=text], #account input[type=password] {
    display: block;
}

a#logoutLink {
    float: right;
}
/** song list **/

#list table {
    /*clear: both;*/

    width: 96%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #eee;
    margin: 0.5em 2%;
    -moz-box-shadow: 5px 5px 12px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, .15);
}

#list td, #list th {
    padding: .25em 1em;
    vertical-align: middle;
    text-align: left;
}

#list th {
    font-weight: bold;
}

#list tr.l0 {
    background: #eee;
}

#list tr.l1 {
    background: #fff;
}

#list tr.song:hover {
    background: #ddd;
}

#list .artist, #list .title {}

#list .nowPlaying td {
    background: #000;
    color: #fff;
}
/*** ABOUT ***/

#about {
    background: #fff;
    border: 2px solid #aaa;
    padding: 1em;
    position: fixed;
    margin-left: -15em;
    top: 4em;
    left: 50%;
    width: 30em;
}

#aboutLinkContainer {
    float: right;
    width: 50%;
}

#aboutCloseLink {
    float: right;
}

#about p {
    margin-top: 1em;
}
