.kanso-topbar-home-icon {
    display: none;
}

.kanso-topbar-field {
    margin-bottom: 10px;
}

.kanso-topbar-login a, .kanso-topbar-logout a, #kanso-topbar-login-login, #kanso-topbar-login-cancel {
    /*btn*/
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#kanso-topbar-login-login, #kanso-topbar-login-cancel {
    /*btn-sm*/
    
    padding: 5px 10px!important;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.kanso-topbar-login a, #kanso-topbar-login-login {
    /*btn-primary*/
    
    color: #FFF!important;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.kanso-topbar-logout a, #kanso-topbar-login-cancel {
    /*btn-danger*/
    
    color: #FFF!important;
    background-color: #D9534F;
    border-color: #D43F3A;
}

#kanso-topbar-login-cancel {
    float: right;
}

.nav-spacer {
    display: block;
    width: 50px;
    height: 1px;
}

.username {
    margin-left: 15px;
    margin-right: 15px;
}

#kanso-topbar-session {
    padding-top: 15px;
    padding-bottom: 15px;
}

#kanso-topbar-session ul {
    display: inline;
    padding: 0;
}

.kanso-topbar-logout {
    display: inline-block;
}

.kanso-topbar-login {
    display: none;
}

@media (max-width: 600px) {
    #kanso-topbar-session ul {
        display: inline;
        padding: 0;
    }
}
/*
@media (min-width: 601px) {
    #kanso-topbar-login-dropdown {
        border: 1px solid transparent;
        border-radius: 4px;
        background: #F8F8F8;
        border-color: #E7E7E7;
        position: absolute;
        right: -1px;
        top: -1px;
        padding: 10px;
    }
}
*/
/*
@media (min-width: 601px) {
    #kanso-topbar-session ul {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
}
*/

.kanso-topbar-field label {
    float: left;
    margin-left: 0;
    margin-right: 1em;
    padding-left: 0;
}

.kanso-topbar-field input, .kanso-topbar-actions input {
    font-family: arial, sans-serif;
    margin: 0;
}

@media print {
    #kanso-topbar {
        display: none
    }
}